<ion-header>
    <ion-toolbar>
        <ion-title>Películas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-input class="peli-buscar" inputmode="text" placeholder="Ingrese nombre de película" #input_buscarpeli>
    </ion-input>
    <ion-button color="secondary" icon-start fill="outline" size="small" (click)="buscaPelis()">
        <ion-icon name="search"></ion-icon>
        Buscar Peli
    </ion-button>
    <ion-button color="secondary" icon-start fill="outline" size="small" (click)="reset()">
        <ion-icon name="refresh"></ion-icon>
        Refresh
    </ion-button>
    <!-- <ion-button expand="full" (click)="buscaPelis()">Buscar Pelis</ion-button> -->

    <ion-list>
        <ion-item button detail lines="inset" *ngFor="let peli of (pelis | async)?.Search" (click)="abrirDetalle(peli)">
            {{ peli.Title }}
        </ion-item>
    </ion-list>
</ion-content>